@import url("../../assets/pages/__layout.css");
@import url("../../assets/pages/index.css");
.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 7%);
    background: white;
    border-radius: 20px;
        margin-top: 20px;
        padding: 20px;
    /* margin: auto; */
  }