<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h1 style="padding: 20px;font-size: 28px;" class="text-center">
                    Refund Policy
                </h1>
                <p style="padding-left: 18px;">
                    Start with the Free Plan and check if QwikShop suits your needs, once you are satisfied, move to the premium plan. Still if you are unsatisfied with our services, you can cancel the subscription at any time and you will be refunded on pro-rata basis. For refund process, please write to us at hi@mystorebud.com
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
            <h1 style="padding: 20px;font-size: 28px;">
                Premium Plan

            </h1>     
            <p style="padding-left: 18px;">
                QwikShop Free plan offers below features
            </p> 
        </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 48px;">
        <div class="col-md-6">
            <div class="card">
                <h1 style="padding: 20px;font-size: 28px;">
                    Free Plan
                </h1>     
                <div class="flex flex-col gap-3">
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Unlimited products</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Unlimited orders</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Convert Instagram posts to products</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">
                        Payments through debit / credit card, netbanking, UPI etc
                      </p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Shipping</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Custom domain</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">SEO built in</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Order confirmation emails to your customers</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Order notifications</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Google analytics</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Facebook pixel</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Inventory management</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Blazing fast product search</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Social media sharing</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Themes</p>
                    </div>
      
                    <div class="flex gap-2 items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                        role="img" class="iconify iconify--teenyicons h-4 w-4 text-sb" fill="CurrentColor"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                          d="M0 7.5a7.5 7.5 0 1 1 15 0a7.5 7.5 0 0 1-15 0Zm7.072 3.21l4.318-5.398l-.78-.624l-3.682 4.601L4.32 7.116l-.64.768l3.392 2.827Z"
                          clip-rule="evenodd"></path>
                      </svg>
                      <p style="font-size: 18px;">Support</p>
                    </div>
                  </div>     
            </div>
        </div>

    </div>
  
</div>
